.singleTile {
  background-color: rgba(0, 0, 0, 0.198);
  padding: 15px;
  border: 1px solid rgba(246, 125, 77, 0.527);
}

.singleTileImg {
  width: 150px;
  height: 130px;
  border-radius: 50%;
}

.singleTile h5 {
  border-left: rgba(255, 99, 71, 0.698) 1px solid;
  border-top: rgba(255, 99, 71, 0.698) 1px solid;

  padding: 5px 6px;
  transition: all 0s;
}

.singleTile h5:hover {
  /* background-color: tomato;
  color: rgb(0, 0, 0); */

  border-right: rgba(255, 99, 71, 0.698) 1px solid;
  border-bottom: rgba(255, 99, 71, 0.698) 1px solid;
  border-left: none;
  border-top: none;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info:nth-last-child(2) {
  padding-bottom: 20px;
}
.singleTile .img {
  text-align: center;
  padding-bottom: 10px;
}

.rentBtn {
  background-color: rgba(246, 125, 77, 0.993);
  transition: all 0.5s;
  padding: 5px 5px;
  margin-top: 8px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.rentBtn:hover {
  background-color: rgba(248, 131, 87, 0.993);
}
