.tableImg img {
  width: 60%;

  padding: 0;
  /* border-radius: 60% 25% 10% 47% / 78% 19% 10% 75%; */
  border-radius: 100% 0% 72% 28% / 60% 100% 0% 40%;
}

.tableImg {
  margin: 7px 0;
  display: flex;
  justify-content: center;
}
.cart {
  padding-top: 15px;
  border: rgba(246, 125, 77, 0.5) 1px solid;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.198);
}

.cart-title .fas {
  color: rgba(246, 125, 77, 0.993);
}

.cart-title {
  margin-bottom: 20px;
}
